---
import Layout from "@layouts/Layout.astro";
import rawMaintenanceItemsYml from "@data/mk2-mitsubishi-pajero/maintenance-4m40.yml";


import { quartsToLiters } from "@util/math";
import type { MaintenanceItems, ReplacementPartCategory } from "@/maintenance";
import { exhaustivePatternMatch } from "@util/patternMatchUtil";
import PartWebLink from "../../../../components/PartWebLink.astro";
import { parse } from "marked";

const maintenance: MaintenanceItems = rawMaintenanceItemsYml as unknown as MaintenanceItems;

const categoryToDisplayValue = (category: ReplacementPartCategory) => {
	switch (category) {
		case "cooling":
			return "Cooling";
		default:
			return exhaustivePatternMatch(category);
	}
}

const hasNotes = {
	filters: maintenance.filters.some(x => (x.notes?.length ?? 0) > 0),
	replacementParts: maintenance["replacement-parts"].some(x => (x.notes?.length ?? 0) > 0),
};
---
<style>
	h2 {
		@apply text-center;
	}

	.maintenance-section {
		@apply my-8 lg:my-10;
		@apply lg:mx-8;
	}

	.maintenance-table-container {
		@apply my-4;
		@apply flex justify-center;
	}

	.maintenance-table {
		@apply table-fixed;
		@apply bg-white;
		@apply shadow-lg;

		th {
			@apply p-4;
			@apply bg-red-300;
		}

		tr:hover {
			@apply bg-gray-100;
		}

		td {
			@apply px-2;
			@apply py-4;
			@apply border;
		}

		ul > li {
			@apply list-disc;
			@apply ml-4
		}
	}

	.maintenance-table-sm,
	.maintenance-table-md {
		@apply overflow-x-auto;
	}
</style>
<Layout
	title="4M40 Maintenance - MK2 Mitsubishi Pajero"
	metaTags={{
		description: "Exhaustive maintenance information, parts, and part numbers for the 1992-1998 MK2 Mitsubishi Pajero 4M40 2.8L turbo-diesel engine. This page will help you find parts in the USA for your JDM-imported Mitsubishi Pajero, including oil filters, air filters, oil types, oil capacities, coolant, belts, etc."
	}}
>
	<main class="md:container mx-2 lg:mx-auto">
		<div class="lg:w-1/2 m-auto sm:mb-8">
			<div class="text-xl mb-4">MK2 Mitsubishi Pajero</div>
			<h1 class="text-4xl mb-4">4M40 Maintenance</h1>

			<p>
				The 4M40 engine is the 2.8L inline 4-cylinder turbo diesel by Mitsubishi. It was available for the entire production run of the MK2 with few modifications. The engine produces 123 horsepower at 4,000 rpm and 217 lb-ft torque at 2,000 rpm.
			</p>

			<div class="table-of-contents container my-4">
				<h2 class="text-3xl">Table of Contents</h2>
				<ul class="list-disc ml-8">
					<li><a class="text-blue-600" href="#fluids">Fluids</a></li>
					<li><a class="text-blue-600" href="#filters">Filters</a></li>
					<li><a class="text-blue-600" href="#belts">Belts</a></li>
					<li><a class="text-blue-600" href="#hoses">Hoses</a></li>
					<li><a class="text-blue-600" href="#replacement-parts">Replacement Parts</a></li>
				</ul>
			</div>
		</div>

		<div class="maintenance-section" id="fluids">
			<h2 class="text-3xl">Fluids</h2>

			<div class="maintenance-table-container">
				<table class="maintenance-table sm:maintenance-table-sm md:maintenance-table-md">
					<thead>
					<tr>
						<th>Fluid</th>
						<th>Specification</th>
						<th>Capacity<br/>(quarts)</th>
						<th>Capacity<br/>(liters)</th>
						<th>Part Links</th>
						<th>Notes</th>
					</tr>
					</thead>
					<tbody>
					{maintenance.fluids.map(fluid => (
						<tr>
							<td class="w-2/12">{fluid.name}</td>
							<td class="w-2/12">{fluid.specification}</td>
							<td class="w-1/12">{fluid["capacity-quarts"].toFixed(1)} Quarts</td>
							<td class="w-1/12">{quartsToLiters(fluid["capacity-quarts"]).toFixed(1)} Liters</td>
							<td class="w-2/12">
								{fluid["part-links"] && <ul>
									{fluid["part-links"].map(partLink => (
										<li>
											<PartWebLink item={partLink} />
										</li>
									))}
								</ul>}
							</td>
							<td class="w-4/12">
								<div set:html={parse(fluid.notes ?? "")}></div>
							</td>
						</tr>))}
					</tbody>
				</table>
			</div>
		</div>

		<div class="maintenance-section" id="filters">
			<h2 class="text-3xl">Filters</h2>

			<div class="maintenance-table-container">
				<table class="maintenance-table sm:maintenance-table-sm md:maintenance-table-md">
					<thead>
					<tr>
						<th>Name</th>
						<th>Manufacturer <span class="whitespace-nowrap">Part #</span></th>
						<th>Alt <span class="whitespace-nowrap">Part #</span></th>
						<th>Part Links</th>
						{hasNotes["filters"] && <th>Notes</th>}
					</tr>
					</thead>
					<tbody>
					{maintenance.filters.map(filter => (
						<tr>
							<td class="w-2/12">{filter.name}</td>
							<td class="w-2/12">{filter["manufacturer-part-number"]}</td>
							<td class="w-2/12">
								{(filter["alternative-part-numbers"] ?? []).map(altPartNum => (
										<ul>
											<li class="whitespace-nowrap">{altPartNum.text}</li>
										</ul>
									))}
							</td>
							<td class="w-1/12">
								{filter["part-links"] && <ul>
									{filter["part-links"].map(partLink => (
										<li>
											<PartWebLink item={partLink} />
										</li>
									))}
								</ul>}
							</td>
							<td class="w-5/12">
								<div set:html={parse(filter.notes ?? "")}></div>
							</td>
						</tr>))}
					</tbody>
				</table>
			</div>
		</div>

		<div class="maintenance-section" id="belts">
			<h2 class="text-3xl">Belts</h2>

			<div class="maintenance-table-container">
				<table class="maintenance-table sm:maintenance-table-sm md:maintenance-table-md">
					<thead>
					<tr>
						<th>Name</th>
						<th>Manufacturer <span class="whitespace-nowrap">Part #</span></th>
						<th>Quantity</th>
					</tr>
					</thead>
					<tbody>
						{maintenance.belts.map(belt => (
							<tr>
								<td class="w-6/12">{belt.name}</td>
								<td class="w-4/12">{belt["manufacturer-part-number"]}</td>
								<td class="w-2/12">{belt.quantity}</td>
							</tr>))}
					</tbody>
				</table>
			</div>
		</div>

		<div class="maintenance-section" id="hoses">
			<h2 class="text-3xl">Hoses</h2>

			<div class="maintenance-table-container">
				<table class="maintenance-table sm:maintenance-table-sm md:maintenance-table-md">
					<thead>
					<tr>
						<th>Name</th>
						<th>Size (millimeters)</th>
						<th>Length (inches)</th>
						<th>Quantity</th>
					</tr>
					</thead>
					<tbody>
						{maintenance.hoses.map(hose => (
							<tr>
								<td class="w-2/5">{hose.name}</td>
								<td class="w-1/5">{hose["size-mm"]} mm</td>
								<td class="w-1/5">{hose["length-inches"]} inches</td>
								<td class="w-1/5">{hose.quantity}</td>
							</tr>))}
					</tbody>
				</table>
			</div>
		</div>

		<div class="maintenance-section" id="replacement-parts">
			<h2 class="text-3xl">Replacement Parts</h2>

			<div class="maintenance-table-container">
				<table class="maintenance-table sm:maintenance-table-sm md:maintenance-table-md">
					<thead>
					<tr>
						<th>Name</th>
						<th>Category</th>
						<th>Manufacturer <span class="whitespace-nowrap">Part #</span></th>
						<th>Alt. Part #</th>
						<th>Part Links</th>
						{hasNotes["replacementParts"] && <th>Notes</th>}
					</tr>
					</thead>
					<tbody>
					{maintenance["replacement-parts"]
						.sort((a, b) => a.category.localeCompare(b.category))
						.map(part => (
							<tr>
								<td class="w-2/12">{part.name}</td>
								<td class="w-1/12">{categoryToDisplayValue(part.category)}</td>
								<td class="w-2/12">{part["manufacturer-part-number"]}</td>
								<td class="w-2/12">
									{(part["alternative-part-numbers"] ?? []).map(altPartNum => (
										<ul>
											<li class="whitespace-nowrap">{altPartNum.text}</li>
										</ul>
									))}
								</td>
								<td class="w-1/12">
									{(part["part-links"] ?? []).map(partLink => (
										<ul>
											<li>
												<PartWebLink item={partLink} />
											</li>
										</ul>
									))}
								</td>
								{hasNotes["replacementParts"] && (
									<td class="w-4/12">
										<div set:html={parse(part.notes ?? "")}></div>
									</td>)}
							</tr>))}
						</tbody>
				</table>
			</div>
		</div>
	</main>
</Layout>